@model Doctruyenchua.Models.Truyen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Truyen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTruyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTruyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhBia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhBia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TacGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTaNgan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaNgan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
